<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Juego</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <h1>Autor</h1>

    <a href="/">Inicio</a>
    <a href="/autor">Autor</a>

    <p>Este sitio web ha sido creado por sauliyo15</p>

    <img src="/images/avatar.jpg" width="200" />

    <hr />
    
    <div>
      <img src="/images/logos/nodejs.png" width="8%" />
      <img src="/images/logos/npm.png" width="8%" />
      <img src="/images/logos/sequelize.png" width="8%" />
      <img src="/images/logos/SQLite.png" width="8%" />
      <img src="/images/logos/express.png" width="8%" />
      <img src="/images/logos/postgres.png" width="8%" />
    </div>
  </body>
</html>
