<h1>Autor</h1>

<p>Este sitio web ha sido creado por <i>sauliyo15</i>.</p>

<img src="/images/avatar.jpg" width="200" />

<hr />

<div>
  <img src="/images/logos/nodejs.png" width="8%" />
  <img src="/images/logos/npm.png" width="8%" />
  <img src="/images/logos/sequelize.png" width="8%" />
  <img src="/images/logos/SQLite.png" width="8%" />
  <img src="/images/logos/express.png" width="8%" />
  <img src="/images/logos/postgres.png" width="8%" />
</div>


