<!-- Se hace uso de los valores almacenados en res.locals en sus variables message, error.status, error.stack
seteadas en el MWs de error -->
<h1><%= message %></h1>
<h2><%= error.status %></h2>
<pre><%= error.stack %></pre>
