<!DOCTYPE html>
<html>
  <!--Se hace uso de la variable 'title' pasada en la llamada a la renderizacion de esta vista-->
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>El sitio web donde puedes crear tus propios juegos</p>
  </body>
</html>
