<!DOCTYPE html>
<html>
  <!--Se hace uso de la variable 'title' pasada en la llamada a la renderizacion de esta vista-->
  <head>
    <meta charset="utf-8">
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Inicio</h1>

    <a href="/">Inicio</a>
    <a href="/autor">Autor</a>
    
    <p>El sitio web donde puedes crear tus propios juegos</p>
  </body>
</html>
