<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    
    <title>SITIO WEB DE JUEGOS</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>

    <header>
        <h1>Sitio Web de Juegos</h1>
    </header>

    <nav>
        <a href="/">Inicio</a>
        <a href="/autor">Autor</a>
    </nav>

    <section>
        <div>
            <!--Se hace uso de la variable 'body' que sera el contenido de la vista en particular-->
            <%- body %>
        </div>
    </section>

    <hr />

    <footer>
        <a href="https://github.com/sauliyo15/quizfullstack2023"  target="_blank">Código fuente Github</a>
    </footer>
    
  </body>
</html>