<!--Esta vista es comun para new y para edit, en el caso de new los atributos de juego estaran vacios y para edit contendran sus valores-->
<div class="wideRow">
    <label for="preg" class="itemNarrow">Pregunta:</label>
    <input type="text" class="itemWide" id="pre" name="pregunta" value="<%= juego.pregunta %>" placeholder="Pregunta" autocomplete="off"/>
</div>
<br/>
<div class="wideRow">
    <!--Con name se definen los nombres de los parametros de cada input que iran en el body de la solicitud HTTP-->
    <label for="resp" class="itemNarrow">Respuesta:</label>
    <input type="text" class="itemWide" id="resp" name="respuesta" value="<%= juego.respuesta %>" placeholder="Respuesta" autocomplete="off"/>
</div>

<br/>

<a href="/atras" class="button">Cancelar</a>
<input type="submit" value="Guardar">