<h1>Añadir Juego</h1>
<!--Define un formulario y los parametros iniciales de la solicitud HTTP generada al enviarlo que iran en el body-->
<form method="post" action="/juegos">

    <!--Con la llamada a include se puede incluir en la vista el contenido de otra vista-->
    <% include _form.ejs %>

</form>