<h1>Fin del Juego:</h1>

<div>Respuestas correctas: <span id="score"><%= puntuacion %></span></div>

<p>Enhorabuena, has acertado todas las preguntas.</p>

<p>
  <a href="/atras" class="button">Atrás</a>
</p>
