<h1>Ver Juego</h1>

<ul>
    <!--Con la variable recibida juego se muestran sus datos-->
    <li>Pregunta: <b><%= juego.pregunta %></b></li>
    <li>Respuesta: <b><%= juego.respuesta %></b></li>
</ul>

<a href="/atras" class="button">Atrás</a>