body {
  font: 16px "Lucida Grande", Helvetica, Arial, sans-serif;
  margin: 0;
}

#page {
  /*Crea un flex-box*/
  display: flex;
  /*Flex-items en horizontal y desborda en la línea siguiente*/
  flex-flow: row wrap;
  margin: 2px auto;
  padding: 0px;
}

.main {
  /*Indica que .main crece hasta completar el 100% del ancho*/
  flex: 1 100%;
  border: 1px solid #999;
  padding: 2px;
  margin: 1px;
  background: #eee;
}

#mainHeader, #mainNav, #mainFooter {
  text-align: center;
}

#mainHeader h1 {
  margin: 8px;
}

#mainNav a {
  margin: 0px 5px;
}

#mainSection {
  padding: 20px;
  text-align: left;
}

a {
  color: #00B7FF;
}
