<section>
    <h2>Inicio de sesión</h2>

    <form method="POST" action="/loguear">
        <div>
            <label for="login">Nombre de usuario:</label>
            <input type="text" id="username" name="nombre" size="30" autocomplete="off"/>
        </div>
        <div>
            <label for="password">Contraseña:</label>
            <input type="password" id="password" name="clave" size="30" autocomplete="off"/>
        </div>
       <br/> 
        <div>
            <input name="commit" type="submit" value="Iniciar sesión"/>
        </div>
    </form>
    <hr/>
    <a href="/usuarios/new">Registrar una cuenta local</a>
</section>