<section class="right">
    Iniciar Sesi칩n con:
    <%- loginWithGitHub   ? '<a href="/auth/github"><img src="/images/login/github.png" class="loginicon" alt="GitHub"></a>' : "" %>
</section>

<section>
    <h1>Inicio de Sesi칩n</h1>

    <form method="POST" action="/loguear">
        <div>
            <label for="login">Nombre de usuario:</label> 
            <br/>
            <input type="text" id="username" name="username" size="30" autocomplete="off"/>
        </div>
        <div>
            <label for="login">Contrase침a:</label>
            <br/>
            <input type="password" id="password" name="password" size="30" autocomplete="off"/>
        </div>
        <br/>
        <div>
            <input name="commit" type="submit" value="Iniciar Sesi칩n"/>
        </div>
    </form>
    </hr>
    <a href="/usuarios/new">Crear una cuenta de usuario</a>
</section>