<section>
    <h1>Inicio de Sesión</h1>

    <form method="POST" action="/loguear">
        <div>
            <label for="login">Nombre de usuario:</label> 
            <br/>
            <input type="text" id="username" name="username" size="30" autocomplete="off"/>
        </div>
        <div>
            <label for="login">Contraseña:</label>
            <br/>
            <input type="password" id="password" name="password" size="30" autocomplete="off"/>
        </div>
        <br/>
        <div>
            <input name="commit" type="submit" value="Iniciar Sesión"/>
        </div>
    </form>
    </hr>
    <a href="/usuarios/new">Crear una cuenta de usuario</a>
</section>